@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css');
@import '@majidh1/jalalidatepicker/dist/jalalidatepicker.css';
@import "style.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;


.login-bg {
    background-image: url("../images/bg.jpeg");
}

body {
    font-family: Vazirmatn, sans-serif !important;
    /* direction: rtl; */
    padding: .6rem;
}

.printable {
    background-color: lightgray;
    background-image: none;
    /* width: 210mm; */
    padding-top: 10px;
    min-height: 100vh;
}

jdp-container .jdp-btn-empty,
jdp-container .jdp-btn-today,
jdp-container .jdp-days .jdp-day.selected {
    background: rgba(59, 189, 30, 0.99) !important;
}

header {
    position: relative;
    z-index: 6;
}

main {
    position: relative;
    z-index: 2;
    padding: 0 .4rem;
}

#originalTransactions .removeButton {
    display: none;
}

#originalTransactions:hover .removeButton {
    display: block;
}

.transaction.active input {
    border: 1px solid slategray;
}

.transaction input:focus {
    border: 1px solid rgb(56, 121, 207);
    box-shadow: 0px 0px 1px rgb(56, 121, 207) !important;
}

.transaction.active .removeButton {
    display: block !important;
}

#transactions input {
    box-shadow: none;
}