@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css');
body{
    font-family: Vazirmatn, sans-serif;
    direction: rtl;
    background-image: url("../images/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
