@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css');
body{
    font-family: Vazirmatn, sans-serif;
    direction: rtl;
    background-image: url("../images/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.main{

    border-color: rgba(255 , 255 , 255 , 0.75);
    border-radius: 10px;
    border-width: 10px;
}

.language-picker__form {
    display: none;
}

.language-picker__button .li4-icon {
    height: 16px;
    width: 16px;
    margin-left:10px;
}


.language-picker__dropdown {
    position: absolute;

    width: 150px;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));

    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), 0 0.9px 1.5px rgba(0, 0, 0, 0.03),0 3.1px 5.5px rgba(0, 0, 0, 0.08),0 14px 25px rgba(0, 0, 0, 0.12);
    padding:20px;
    border-radius: 0.25em;
    z-index: 5;

    --space-unit: 1rem;
    --text-unit: 1rem;
    font-size: var(--text-unit);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s;
}

.language-picker__dropdown--right {
    right: 0;
    left: auto;
}

.language-picker__dropdown--up {
    bottom: 100%;
    top: auto;
}

.language-picker__button[aria-expanded=true] + .language-picker__dropdown {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.2s;
}


.language-picker__item[aria-selected=true]::after {
    content: "";
    height: 16px;
    width: 16px;
    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline stroke-width='2' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round' points='1,9 5,13 15,3 '/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline stroke-width='2' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round' points='1,9 5,13 15,3 '/%3E%3C/svg%3E");
    margin-left: auto;
}

.language-picker__flag {
    display: flex;
    align-items: center;
}
.language-picker__flag::before {
    display: none;
    flex-shrink: 0;
    content: "";
    height: 16px;
    width: 16px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.language-picker__dropdown .language-picker__flag::before {
    margin-right: var(--li4-space-xs);
}


.language-picker--hide-label .language-picker__flag::before {
    display: inline-block;
    display: inline-flex;
}

/* utility classes */
.li4-sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    white-space: nowrap;
}
